[Unit]
Description=A server for streaming Motion-JPEG from a video capture device
Requires=network-online.target
After=network.target network-online.target multi-user.target
Wants=network-online.target


[Service]
ExecStart=/usr/local/bin/mjpg_streamer -i 'input_raspicam.so' -o 'output_http.so  -w /usr/local/share/mjpg-streamer/www'
Restart=on-failure
RestartSec=10
SuccessExitStatus=0
Type=simple
RemainAfterExit=false

#/usr/bin/mjpg_streamer -i 'input_uvc.so -d /dev/%I' -o 'output_http.so -w /usr/share/mjpg_streamer/www'

[Install]
WantedBy=multi-user.target
